<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Job Listing</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="js/vendor/bootstrap.min.js"></script>			
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="js/easing.min.js"></script>			
    <script src="js/hoverIntent.js"></script>
    <script src="js/superfish.min.js"></script>	
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>	
    <script src="js/owl.carousel.min.js"></script>			
    <script src="js/jquery.sticky.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>			
    <script src="js/parallax.min.js"></script>		
    <script src="js/mail-script.js"></script>	
    <script src="js/main.js"></script>	

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
        <!--
        CSS
        ============================================= -->
        <link rel="stylesheet" href="css/linearicons.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="css/nice-select.css">					
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/modal.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Vue 3 -->
        <script src='https://cdn.jsdelivr.net/npm/vue@3.0.2/dist/vue.global.js'></script>
        <!-- Vue 3: production version, optimized for size and speed -->
        <!--vue-multiselect-->
        <script src="https://unpkg.com/@suadelabs/vue3-multiselect@1.0.1/dist/vue3-multiselect.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/@suadelabs/vue3-multiselect@1.0.1/dist/vue3-multiselect.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            if(sessionStorage.getItem("role") != "hr" || sessionStorage.getItem("role")===null){
                alert("You are not allowed to access this page, please login again");
                window.location.replace("login.html")
            }
        </script>
    </head>
    <body>

        <div id="nav-placeholder"></div>


        <!-- start banner Area -->
        
        <div id="manager_create_role">
            <section class="banner-area relative" id="home">	
            <div class="overlay overlay-bg"></div>
            <div class="container">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="about-content col-lg-12">
                        <h1 class="text-white">
                            Create Role				
                        </h1>	
                    </div>											
                </div>
            </div>
        </section>
        <!-- End banner Area -->	

        <div class="container">
            <div class="col-3"></div>
            <div class="col-6  mt-5 mb-5" id="add_role_modal">
                <form>
                    <div class="modal-header">						
                        <h4 class="modal-title">Add Role</h4>
                    </div>
                    <div class="modal-body">				
                        <div class="form-group">
                            <label for="role_name">Role Name</label>
                            <input type="text" v-model="role_name" class="form-control" id="skill_name"  placeholder="Enter role">
                        </div>
            
                        <div class="form-group">
                            <label for="role_description">Description</label>
                            <textarea class="form-control" v-model="description" id="skill_description" placeholder="Description"></textarea>
                        </div>
            
                        <div class="form-group">
                            <label for="skill_required_selection">Skill Required</label>
    
                            <VueMultiselect id="skill_required_selection"
                            v-model="skill_selected"
                            :options="skill_list"
                            :multiple="true"
                            :close-on-select="false" :clear-on-select="false"
                            :max="5"
                            placeholder="Select Skills"
                            label="Skillname"
                            track-by="SkillsID"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-outline-danger" value="Return" v-on:click="return_to_role">
                        <input type="button" class="btn btn-success" value="Add" v-on:click="create_role">
                    </div>
                </form>
            </div>
            <div class="col-3"></div>
        </div>
	
    
        <div id="includedContent"></div>
        </div>
        
    </body>

                <!-- End footer Area -->		

        <script>
            $(function(){
                $("#nav-placeholder").load("sidebar_manager.html");
            });
        </script>
    
    <script>
    Vue.createApp({
        data() {
            return {
            skill_list:[],
            role_name:"",
            description:"",
            skill_selected:[],
            new_role_id:"",
            user_id:null,
            rolelist:[]
            };
        },
        methods:
        {
            get_all_skill(){
                axios.get('http://127.0.0.1:5002/getAllSkill')
                .then(response => {
                    // this gets the data, which is an array, and pass the data to Vue instance's posts property
                    this.skill_list = response.data.data
                })
                .catch(error => {
                    this.skill_list = [{ entry: 'There was an error: ' + error.message }]
                })
            },

            get_all_role(){
                axios.get('http://127.0.0.1:5000//roles/getAll')
                .then(response => {
                    // this gets the data, which is an array, and pass the data to Vue instance's posts property
                    this.rolelist = response.data.data
                })
                .catch(error => {
                    this.rolelist = [{ entry: 'There was an error: ' + error.message }]
                })
            },

            create_role(){
                duplicate = false
                for (i of this.rolelist){
                        if (i['RoleName'].toLowerCase()==this.role_name.toLowerCase()){
                            duplicate = true
                            break
                        }
                    }
                if (this.role_name=='' || this.description==''){
                    alert('Role name and description cannot be empty')
                }
                else if(this.role_name.match(/^[0-9]+$/) != null || this.description.match(/^[0-9]+$/) != null){
                    alert('Role name and description cannot all be numbers')
                }
                else if(Object.keys(this.skill_selected).length==0){
                    alert('Please assign at least 1 skill to the role')
                }
                else if(duplicate){
                    alert('Role already exists in database')
                }
                else if(this.role_name[0].replace(/ /g,'')==""){
                    alert('Rolename cannot contain only whitespace')
                }
                else if(this.role_name.toLowerCase()==this.description.toLowerCase()){
                    alert('Description cannot be similar to role name')
                }
                else if(!this.role_name[0].toLowerCase().match(/[a-z]/i)){
                    alert('Rolename cannot start with number or symbol')
                }
                else{        	
                    axios.post('http://127.0.0.1:5020/add_role', {
                        "Role Name": this.role_name,
                        "Created By": this.user_id,
                        "Description": this.description,
                        "skill_list": this.skill_selected
                        })
                        .then(function (response) {
                            console.log(response)
                            window.location.href="manager_all_role.html"
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                    
                }
  
            },
            return_to_role(){
                window.location.href="manager_all_role.html"
            },

            get_user()
            {
                this.user_id = parseInt(sessionStorage.getItem("userid"))
                console.log(this.user_id)
            }
        },
        computed:
        {
        
        },
        created(){
            this.get_user()
            this.get_all_skill()
            this.get_all_role()
        },
        components: { vuemultiselect: window.Vue3Multiselect.default },
    }).mount('#add_role_modal')

</script>
</html>



